{% extends "base.html" %}

{% block title %}用户密码重置{% endblock %}

{% block navbar %}
    <section class="content-header">
        <h1>用户密码重置</h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i> 当前位置</li>
            <li class="active">权限管理</li>
            <li class="active">用户密码重置</li>
        </ol>
    </section>
{% endblock %}


{% block content %}
    <div class="box box-primary">
        <form id="PasswordEditForm" method="post">
            {{ form.hidden_tag() }}
            <div class="box-header with-border">
                {% include 'message.html' %}
            </div>

            <div class="box-body">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{ form.username.label }}</label>
                        {{ form.username(class_="form-control",placeholder="请输入",readonly=true) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{ form.new_password.label }}</label>
                        {{ form.new_password(class_="form-control",placeholder="请输入",oncontextmenu="return false",onpaste="return false",oncopy="return false",oncut="return false",autocomplete="off") }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{ form.new_password_second.label }}</label>
                        {{ form.new_password_second(class_="form-control",placeholder="请输入",oncontextmenu="return false",onpaste="return false",oncopy="return false",oncut="return false",autocomplete="off") }}
                    </div>
                </div>
            </div>

            <div class="box-footer">
                <div class="col-md-12">
                    {{ form.submit(class_="btn btn-primary pull-right") }}
                </div>
            </div>
        </form>
        <div class="info-footer">
            <div class="well">
                <h4><i class="icon fa fa-info"></i> 温馨提示</h4>
                <ol>
                    <li>重置用户密码，可操作所有用户。</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}
