{% extends "base.html" %}

{%  block css %}
    <!--显示业务列表时保证其不错位以及加粗和颜色突出-->
    <style>
        :checked + span
            {
                font-weight: bold;
                color: #F70;
            }
        .checkbox.inline.col-lg-2.cbcustomed:first-child
            {
                margin-top: -5px;
            }
        body {
            padding: 0px;
        }
    </style>
{% endblock %}

{% block title %}权限配置{% endblock %}

{% block navbar %}
    <section class="content-header">
        <h1>权限配置</h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i> 当前位置</li>
            <li class="active">权限管理</li>
            <li class="active">业务权限配置</li>
        </ol>
    </section>
{% endblock %}


{% block content %}
    <div class="box box-primary">
        <form id="PermBizEditForm" method="post">
            {{ form.hidden_tag() }}
            <div class="box-header with-border">
                {% include 'message.html' %}
            </div>

            <div class="box-body">
                <div class="col-lg-12">
                    <div class="form-group">
                        {{ form.business(class_="form-control",placeholder="请输入") }}
                    </div>
                </div>
            </div>

            <div class="box-footer">
                <div class="col-md-12">
                    {{ form.submit(class_="btn btn-primary pull-right") }}
                </div>
            </div>
        </form>
        <div class="info-footer">
            <div class="well">
                <h4><i class="icon fa fa-info"></i> 温馨提示</h4>
                <ol>
                    <li>编辑角色为‘业务管理员’的可操作业务列表，勾选则表示对此业务拥有操作权限。</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}
